{
  "extends": ["airbnb", "airbnb/hooks"],
  "env": {
    "browser": true,
  },
  "rules": {
    "semi": 0,
    "react/no-array-index-key": 1,
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/anchor-is-valid": 1,
    "jsx-a11y/label-has-associated-control": 0,
    "default-param-last": 0
  }
}