textarea {
  resize: none;
}

.ProfileEdit {
  max-width: 1100px;
  height: 50vh;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.container > * {
  width: 50%;
}

.profile__aboutUser {
  display: flex;
  flex-direction: column;
}

.profile__aboutUser.text {
  margin-top: 10px;
  padding: 5px;
  border-color: transparent;
  border-radius: 10px;
  background: #224957;
  font-size: 14px;
  color: #fff;
}
