.info {
  max-width: 300px;
  width: 280px;
  background-color: #224957;
  padding: 20px;
  border-radius: 10px;
}

.info__title {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: #cbcecf solid .5px;
}

.table__list {
  padding: 0;
  list-style: none;
}

.table__item {
  display: flex;
  /* justify-content: space-between; */
}

.table__item:not(:last-child) {
  margin-bottom: 20px;
}

.table__name, 
.table__info {
  margin: 0;
  font-size: 13px;
}

.table__name {
  flex-basis: 130px;
  padding-right: 10px;
  font-weight: 700;
}